*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
FINAL_LOCKED_IMPLEMENTATION_PLAN.md
NEW_FEATURES_PLAN.md
PERFORMANCE_AUDIT_LEVEL2.md
PERFORMANCE_AUDIT.md
WHATSAPP_EXPORT_PLAN.md